body
{

}

.english
{
    background-color: #4082c4;
}

.hebrew
{
    background-color: #009300;
}

.mobile
{
    background-color: #f5f531;
}

#div_control
{
    display: table;
    margin-left:auto;
    margin-right:auto;
    background-color: #3dc4b6;
    margin-bottom: -10px;
}


.top_english
{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    min-width: 400px;
    min-height: 300px;
    border-bottom-color: transparent;
    margin-top: 50px;
}

.bottom_english
{
    background-color: coral;
    min-width: 400px;
    min-height: 300px;
}


#div_frame
{
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    min-width: 800px;
    min-height: 600px;
}


.table
{
    display: table;
    margin-left:auto;
    margin-right:auto;
}

.row
{
    display: table-row;
    /*text-align: center;*/
}

.cell
{
    border: 1px solid white;
    display: table-cell;
    text-align: center
}



#div_right_top
{
    background-color: indianred;
}

#div_left_top
{
    background-color: palegreen;



}

#div_msg
{
}

#p_msg
{
}

#a_rooj
{
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

#div_rooj
{
    /*background-color: coral;*/
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}


.b_big
{
    border:none;
    height: 40px;
    width: 160px;
    background-color: white;
}