<!doctype html>
<html>
    <head>

        <title>WebRTC</title>

        <!-- Stylesheet Ressources -->
        <link rel="stylesheet" href="/static/intercom/webrtc-example/css/global.css">
        <link rel="stylesheet" href="/static/intercom/webrtc-example/css/bootstrap.min.css">

        <!-- JavaScript Ressources -->
        <script src="/static/intercom/webrtc-example/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/intercom/webrtc-example/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="/static/intercom/webrtc-example/js/global.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/intercom/webrtc-example/js/adapt.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/intercom/webrtc-example/js/webrtc.js" type="text/javascript" charset="utf-8"></script>

        <script src="/static/cs_web27/js/main.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/intercom/webrtc-example/js/intercom.js" type="text/javascript" charset="utf-8"></script>

    </head>

    <body>

        <!-- Modal Connection -->
        <div class="modal hide fade" id="ModalConnection">

            <div class="modal-header">
              <h3>WebRTC Sample Connection</h3>
            </div>


            <div class="modal-body">
              <div class="control-group">
                <label>Nickname :</label>
                <input id="nickname" type="text" class="span2">
                <span class="help-inline hide">Not empty !</span>
              </div>
            </div>

            <div class="modal-footer">
            <button id="loginSub" class="btn btn-primary">Login</button>
            </div>

        </div>
        <!-- End of the Modal Connection -->



        <!-- Content -->
        <div class="container-fluid">

                <div class="span6">
                  <!-- Local Video -->
                  <div class="row-fluid">
                    <div style="position: relative;" class="span12">
                      <h2 align="left">Local</h2>
                      <span id="locallive" class="live hide">LIVE</span>
                      <video width="100%" height="100%" id="localVideo" autoplay="autoplay"
                      style="opacity: 0;
                      -webkit-transition-property: opacity;
                      -webkit-transition-duration: 2s;">
                      </video>
                    </div>
                  </div>
                  <!-- End of Local Video -->
                </div>
                <div class="span6">
                  <!-- Remote Video -->
                  <div class="row-fluid">
                    <div style="position: relative;" class="span12">
                      <h2 align="left">Remote</h2>
                      <span id="remotelive" class="live hide">LIVE</span>
                      <video width="100%" height="100%" id="remoteVideo" autoplay="autoplay"
                      style="opacity: 0;
                      -webkit-transition-property: opacity;
                      -webkit-transition-duration: 2s;">
                      </video>
                    </div>
                  </div>
                  <!-- End of Remote Video -->
                </div>



            </div>

            <!-- Statut of the visio call -->
            <div id="footer"></div>

            <hr>


        </div>
        <!-- End of the Content -->

    </body>
</html>
